@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Gaegu:300,400,700&subset=korean");

/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
/* fieldset,*/ form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video /* * : 전체선택자*/ {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: "Gaegu", cursive;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* 모르는 태그가 나오면 inline요소처리하는데, 해당 태그들를 block 요소로 만들어줌 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
ul {
  list-style-type: none;
}

//전체에 삽입되는 이미지
body,
html {
  height: 100vh;
}


.bg {
  background-image: url("../images/ball.png");
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
}


// 모든 컨텐츠를 감싸는 메인 영역
.main {
  display: block;
  margin: 0 auto;
  height: 90%;
  padding-top: 3%;
  padding-bottom: 1%;
  text-align: center;
  box-sizing: border-box;
}

// 게임 영역의 배경
.background {
  position: relative;
  background: #fff;
  width: 550px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 5px dotted #c94c4c;
  border-radius: 30px;
  box-sizing: border-box;
}

// 게임의 제목
.main-title {
  color: red;
  font-size: 2.6em;
  font-family: "Gaegu", cursive;
  height: 9%;
  width: 100%;
}

/* 숫자가 들어올 input상자 레이아웃 */
.input-box,
.turn-list {
  width: 100%;
  margin: 0 auto;
}

.input-box {
  height: 9%;
  line-height: 9%;
  box-sizing: border-box;
}
.input-boxes {
  display: inline-block;
}
.input-box-digit-1,
.input-box-digit-2,
.input-box-digit-3,
.input-box-try,
.input-box-reset {
  line-height: 30px;
  margin: 0 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #c62d2d;
}

.input-box-digit-1,
.input-box-digit-2,
.input-box-digit-3 {
  font-size: 1.3rem;
  font-family: "Gaegu", cursive;
  text-align: center;
  height: 30px;
  width: 30px;
}
/* 도전, 한번 더 버튼 레이아웃 */
.input-box-try,
.input-box-reset {
  font-size: 1.4rem;
  padding: 1px 5px;
  font-family: "Gaegu", cursive;
}
// 게임을 하면 추가되는 세트
.turn-list > div {
  padding: 0 10px;
  font-size: 1.2rem;
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.turn-list {
  color: #000;
  height: 80%;
}

// 아웃인지 스트라이크인지 알려주는 부분
.turn-list > div > span {
  display: inline-block;
  height: 100%;
  line-height: 50px;
}
.description-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.game-description {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
}

// 푸터
.footer {
  padding-top: 20px;
  width: max-content;
  height: 10%;
  margin: 0 auto;
  color: red;
  font-size: 1.5rem;
  text-decoration: underline;
}

// 게임설명

.game-description > h2 {
  padding: 70px;
}
.how-to-play {
  font-size: 1.5rem;
  padding-top:20px;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  border-radius: 40px;
  border: 1px dashed #fff;
}
.game-description p {
  margin-top: 30px;
  padding: 5px;
  font-size: 1.6rem;
}



